* {
    box-sizing: border-box;
}

/* .main-canvas {
    background-color: grey;
    width: 750px;
    height: 566.5322875976562px;
    top: 206px;
} */

.top-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */

}

header {}

.nav-bar {
    grid-column: 2;
    justify-self: end;
    align-self: center;
    /* display: none; */
}

.canvas-container {
    max-width: 400px;
    margin: 100px;
    /* display: none; */
}

canvas {
    display: block;
    width: 100%;
    /* display: none; */
}

.tool-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* display: none; */
}

.main-tool-bar {
    justify-self: center;
    margin-top: 100px;
    padding: 100px;
    background-color: rgb(184, 184, 206);
    position: relative;

}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center; */
    /* z-index: 2000;
    position: fixed */
}

section img {
    /* display: none; */
    width: 150px;
    cursor: pointer;

}

.img-Gallery {
    background-color: white;
    z-index: 1000;
    position: fixed;
    top: 4em;
    left: 5em;
    right: 5em;
    width: 100%;
    height: 100%;
    padding-top: 1.5em;
    display: none;
}

.share {
    position: absolute;
    bottom: 0;
    right: 0;
}

a {
    font: 1.25em sans-serif;
    padding: 5px;
}