* {
    box-sizing: border-box;
}

/* .main-canvas {
    background-color: grey;
    width: 750px;
    height: 566.5322875976562px;
    top: 206px;
} */

.top-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}

header {}

.nav-bar {
    grid-column: 2;
    justify-self: end;
    align-self: center;
}

.canvas-container {
    max-width: 400px;
    margin: 100px;
}

canvas {
    display: block;
    width: 100%;
}

.tool-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-tool-bar {
    justify-self: center;
    margin-top: 100px;
    padding: 100px;
    background-color: rgb(184, 184, 206);

}

section {
    display: flex;
    flex-wrap: wrap;   
    gap: 20px;
    justify-content: center;
}

section img {
    width: 150px;
    cursor: pointer;
}