* {
    box-sizing: border-box;
}



.main-canvas {
    background-color: grey;
    width: 750px;
    height: 566.5322875976562px;
    top: 206px;
}

header {
    /* display: flex; */
    /* grid-auto-flow: column; */


}

.nav-bar {
    /* display: flex; */
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-content: end;


}

.canvas-and-controls {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

}

.one {
    display: grid;
}

.canvas-container {
    max-width: 400px;
    margin: 20px auto;
}


canvas {
   display: block;
   width: 100%;
}